.wrapper {
  display: flex;
  flex-flow: column;


  border-bottom: 1px dashed lightgray;
  
  .container{

    display: flex;
    flex-flow: row;
    align-items: center;
    //justify-content: center;    

    width: 100%;
    max-width: 960px;
    margin: auto;
        
    padding: 12px;

    
    a{
      flex: 1;
      display: flex;

      text-align: center;

      
      display: block;
      padding: 3px;
      
      margin-right: 6px;
      &:last-child{
        margin-right: 0;
      }
      
      font-size: 16px;
      color: rgb(61, 61, 61) !important;
      &:hover{
        color: rgb(77, 167, 226) !important;
      }

    }

    :global{
      a.active{
        color: rgb(77, 167, 226) !important;
      }
    }

  }

}
